/*
Font
CSS

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Bellefair', serif;

Colors

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

style{
  font-family: 'Merriweather', serif;
  font-family: 'Roboto' , serif;
}

body{
  font-family: 'Merriweather' , serif;
  line-height: 1.6;
  margin: 0;
  background-color: #F2F1E8;
  background-attachment: fixed;
  color: #131511;
}

h1, h2, h3, h4 {
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

#site-header {
  background-color: #FFFFFF;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.1 );
}

#site-header img {
  display: flex;
  height: 60px;
  justify-content: flex-start;
  flex-shrink: 1;
  flex-grow: 0
}

#main-navigation a {
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: #2B2F26;
  /*display: flex;*/
}


#main-title {
  font-size: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

#main-title h3 {
  font-size: 25px;
}

main {
  margin: 20px, auto;
}

.products{
  list-style: none;
  display: flex;
  flex-basis: 70%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-flow: wrap;
  justify-content: space-around;
  align-content: center;
}

/*ul .first-image {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}*/

ul li img {
  display: flex;
  height: 250px;
  /*flex-flow: wrap;*/
}

ul li p {
  background-color: #968772;
  color: #FFFFFF;
  padding: 10px;
  margin-right: 100px;
  text-align: center;
  position: relative;
  bottom: 70px;
}

/*NEWSLETTER CSS START*/

.wrapper {
  background-image: url(images/background-2.jpg);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#newsletter-text {
}
/*NEWSLETTER CSS END*/

/*ABOUT SECTION CSS START*/


#about-body {
  margin-top: 100px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#community-title {
  font-size: 70px;
}

  /*background-size: cover;*/
  /*background-position: right bottom;*/
  /*ABOUT SECTION CSS END*/

  footer {
    color: #FFFFFF;
    background-color: #968772;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
